doctype html
html(ng-app="Report")
	head
		title {{title}} 
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700")
	body
		block content
	script(src="javascripts/report.js")

	


