<div class="login fadein">
<div class="error" ng-show="error"><p> <i class="fa fa-info-circle"></i> {{error}}</p></div>
	<a class="btn btn-login" href="/auth/google"><i class="fa fa-google"></i> Signin with you Apiki.com account</a>
</div>