<div class="head" ng-show="user">
	<div class="container">
		<div class="profile">
			<img ng-src="{{user.picture}}">
			<strong><a href="#/">{{user.name}}</a></strong>
		</div>
		<div class="links">
			<a ng-show="user.level == 1" href="#/push">Push report</a>
			<a href="/logout">Logout</a>
			
		</div>
	</div>	
</div>

<div class="report-list" ng-show="user">
	<div class="search">
		<input class="search-field" placeholder="search" ng-model="search.target">
	</div>
<!-- 	<div class="report" ng-repeat="product in products">
		<div class="caption">{{product.name}}</div> -->
		<ul class="reports">
			<li ng-repeat="report in filtered = (reports | filter: search) | startFrom:currentPage*pageSize | limitTo:pageSize">
				<a href="#/report/{{report.alpha_id}}">{{report.target}}</a>
			</li>		
		</ul>		
	<!-- </div> -->

	<div class="paginate" ng-show="filtered.length > 9">
		<button ng-show="currentPage !== 0" ng-click="currentPage=currentPage-1">
	        <i class="fa fa-arrow-left">	</i>
	    </button>
	    {{currentPage+1}}/{{total}}
	    <button ng-show="currentPage <= total" ng-click="currentPage=currentPage+1">
	        <i class="fa fa-arrow-right">	</i>
	    </button>		
	</div>

</div>
