<div class="head" ng-show="user">
	<div class="container">
		<div class="profile">
			<img ng-src="{{user.picture}}">
			<strong><a href="#/">{{user.name}}</a></strong>
		</div>
		<div class="links">
			<a ng-show="user.level == 1" href="#/push">Push report</a>
			<a href="/logout">Logout</a>
			
		</div>
	</div>	
</div>
<div class="container push" ng-show="user">
	<form class="pushitem" name="pushForm">	
		<div class="field">		
			<input type="text" placeholder="Target" ng-model="target">
		</div>
		<div class="field">		
			<input type="text" placeholder="Reporter" ng-model="reporter">
		</div>
		<div class="field">		
			<textarea type="text" ng-trim="true" ng-model="meta">Item meta...(JSON format)</textarea>
		</div>
		<div class="field">		
			<select name="product" ng-model="product" placeholder="">
				<option value="2">One day</option>
				<option value="3">Care</option>
				<option value="4">Customize</option>
			</select>
		</div>
		<button class="btn btn-push" ng-click="saveReport()">Save</button>
	</form>
</div>