<div class="options" ng-show="user">
    <a href="#">Gerar PDF</a>
    <a href="#">Gerar PNG</a>
    <div class="lang">
        <a href="javascript:;" ng-class="{ active: currentLanguage == 'en' }" ng-click="switchLang('en');">EN</a>
        <a href="javascript:;" ng-class="{ active: currentLanguage == 'pt' }" ng-click="switchLang('pt');">PT</a>
    </div>
</div>
<div class="header" ng-show="user">
    <span class="main-head">
        WordPress {{report.meta[currentLanguage].version}} - {{report.vars[currentLanguage].title}}
    </span>
<!--     <div class="logo">
        <img src="images/logo.svg">
    </div> -->
    <div class="more">
        <p>Apiki WP {{report.product}}</p>
        <span class="reporter">
            <p>
                <strong>@{{report.vars[currentLanguage].reporter}}</strong>    
                &lt;{{report.meta[currentLanguage].reporter}}
            </p>
            <p>
                <strong>@{{report.vars[currentLanguage].generated}}</strong>  
                {{report.meta[currentLanguage].time}}
            </p>

            
            <p class="report-note">
               {{report.vars[currentLanguage].advise}}
            </p>
    </span>
    </div>
</div>
<div class="timeline" ng-show="user">
    <div class="item">
        <div class="caption">{{report.vars[currentLanguage].introduction}}</div>
        <div class="dot blue">
            <span><i class="fa fa-info"></i></span>
        </div>
        <div class="content">
            <div class="block">
                <ul>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].target}}</div>
                        <div class="info-value"><strong>{{report.target}}</strong></div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].affected}}</div>
                        <div class="info-value">WordPress {{report.meta[currentLanguage].version}}</div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].fixed}}</div>
                        <div class="info-value">{{report.meta[currentLanguage].fixed}}</div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].type}}</div>
                        <div class="info-value">{{report.meta[currentLanguage].vuln}}</div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].remoteExploitable}}</div>
                        <div class="info-value">{{report.meta[currentLanguage].exploitable}}</div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].vendor}}</div>
                        <div class="info-value">{{report.meta[currentLanguage].date_vendor}}</div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].toPublic}}</div>
                        <div class="info-value">{{report.meta[currentLanguage].date_public}}</div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].credits}}</div>
                        <div class="info-value">{{report.meta[currentLanguage].credits}}</div>
                    </li>
                    <li>
                        <div class="info-type">{{report.vars[currentLanguage].level}}</div>
                        <div class="info-value"><strong>{{report.meta[currentLanguage].level}}/10</strong></div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="item" ng-repeat="item in report.meta[currentLanguage].threats">
        <div class="caption">{{item.caption}}</div>
        <div class="dot {{item.color}}">
            <span><i class="fa fa-{{item.icon}}"></i></span>
        </div>
        <div class="content">
            <div class="title">{{item.title}}</div>
            <p>{{item.subTitle}}</p>
            <ul class="details">
                <li ng-repeat="issue in item.issues">
                    <p>{{issue.title}}</p>
                    <p><i>{{issue.caption}}</i></p>
                    <div class="list" ng-show="issue.list">                    
                        <p  ng-repeat="item in issue.list"><i>{{item}}</i></p>                        
                    </div>
                    <div class="solution" ng-show="issue.solution">                        
                        <p>
                            <strong>{{report.vars[currentLanguage].solution}}: 
                            </strong>{{issue.solution}}
                        </p>
                    </div>
                    <div class="reference" ng-show="issue.reference">                        
                        <p>
                            <strong>{{report.vars[currentLanguage].reference}}: </strong>
                            {{issue.reference}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>