@import url(./font-awesome.css);
*{
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}
.container {
  /* position: relative; */
  margin: 0 auto;
  width: 75%;
  /* min-height: 100vh; */
  display: block;
  overflow: hidden;
}
.options a, button {
  text-decoration: none;
  background-color: red;
  padding: .5em;
  border-radius: 2px;
  color: #FFFFFF;
  background-color: #00B7FF;
}
button {
  border: 0;
  width: 2.5em;
  margin: 1em 0;
}
button:hover , .options a:hover{
  background-color: rgb(1, 137, 190);
}
.reports li {
  background-color: white;
  padding: 1em 0;
  border-bottom: .1em solid #F3F3F3;
}
.reports a {
  display: block;
}
.report-list {
  margin-top: 10em;
  position: relative;
}
ul.reports {
  padding-top: 2em;
  max-height: 35em;
}
.search-field {

  float: right;
  width: 25%;
}

.options {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99999;
}
.timeline {
 color: red;
}
.image img {
 width: 100%;
 height: 100%;
 /* display: inline-block; */
}
.item {
 width: 100%;
 position: relative;
 margin-left: 0em;
}
.item:before {
 content: " ";
 background-color: #F1F1F1;
 height: 100%;
 width: 0.2em;
 top: 0;
 position: absolute;
 z-index: 1;
 margin-left: 9em;
}
.caption {
 /* background-color: blue; */
 
 margin-left: 0em;
 /* width: 2em; */
 /* height: 3em; */
 /* line-height: 8em; */
 
 top: 2em;
 position: relative;
 color: #A1A1A1;
}
.dot {
 background-color: teal;
 z-index: 99;
 width: 2em;
 height: 2em;
 margin-left: 7.6em;
 border-radius: 50%;
 z-index: 99999;
 position: relative;
 display: inline-block;
 text-align: center;
 line-height: 2em;
 color: #fff;
 border: .5em solid rgba(251, 251, 251, 0.96);
 padding: 0em;
}
.content .title {
 color: red;
 font-weight: bold;
 color: #222;
 padding: 0em 0 .5em 0;
}
.content {
 margin-left: 12em;
 position: relative;
 top: -2em;
 color: #404040;
 /* border-bottom: 2px solid #222; */
 
 padding: 0em 0px;
}
.dot.red {
 background-color: #FF5151;
 color: #FFF;
}
.dot.blue {
 background-color: #81A6FF;
 color: #FFF;
}
.images {
 position: relative;
 display: inline-block;
}
.image {
 display: inline-block;
 width: 10em;
 height: spo;
 /* position: absolute; */
 
 overflow: hidden;
 height: 5em;
}
.container {
 width: 75%;
 margin: 0 auto;
}
span.main-head {
 font-size: 16pt;
 color: #404040;
 font-weight: bold;
 padding: 1em 0 2em 0;
 display: block;
}
.header {
 padding: 1em;
 border-bottom: 1px solid #F1F1F1;
}
body {
 font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 1.42857143;
 color: #333;
 background-color: #fff;
}
span.reporter {
 font-style: italic;
}
code,
kbd,
pre,
samp {
 font-family: monospace, monospace;
 font-size: 1em;
 display: block;
 padding: 9.5px;
 margin: 0 0 10px;
 font-size: 13px;
 line-height: 1.42857143;
 color: #333;
 word-break: break-all;
 word-wrap: break-word;
 background-color: #f5f5f5;
 border: 1px solid #ccc;
 border-radius: 4px;
}
.header .report-note {
 font-style: normal;
 padding-top: 1em;
}
.block li:before {
 content: " ";
 background-color: #ECE7E7;
 position: absolute;
 width: .3em;
 height: 0.3em;
 left: -1em;
 top: 0.7em;
}
.block li {
 list-style: none;
 position: relative;
}
.info-value {
 width: 60%;
 display: inline-block;
 float: right;
}
.info-type {
 width: 40%;
 display: inline-block;
}
.content .details li {
 padding: 1em 0;
}
.dot.yellow {
 background-color: #FFC000;
}
.dot.green {
 background-color: rgb(101, 211, 104);
}
.item:last-child {
 min-height: 20em;
}
.head-chunk{
    font-style: italic;
}
.btn {
    ba: red;
    background: rgb(160, 154, 154);
    padding: 1em;
    color: #fff;
    letter-spacing: .1em;
    cursor: pointer;
}
.login {
    margin: 0 auto;
    width: 100%;
    /* background: blue; */
    display: block;
    text-align: center;
    min-height: 100vh;
}
.fadein.ng-enter,
.fadeout.ng-leave {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    display: block !important;
}

.fadein.ng-enter {
    opacity: 0;
}
.btn.btn-login {
    margin: 25% auto;
    display: inline-block;
    background: #EB6152;
    border-radius: 2px;
    text-decoration: none;
    transition: All .2s linear;
}
.slide{
  left:0;
}
.slide.ng-enter{
  transition:0.15s linear all;
  position:fixed;
  z-index:inherit;
  left:-100%;
  height:inherit;
}
.slide.ng-leave{
  transition:0.15s linear all;
  position:fixed;
  z-index:9999;
  right:0;
}
.slide.ng-leave-active{
  transition:0.15s linear all;
  position:fixed;
  right:-100%;
  left:100%;
}
.slide.ng-enter-active{
  transition:0.15s linear all;
  left:0;
  position:relative;
}

.btn.btn-login:hover {
    background: #CC3B2B;
}
.error {
background: rgb(52, 152, 219);
position: fixed;
width: 100%;
left: 0px;
padding: 1em 0;
text-align: left;
color: rgb(255, 255, 255);
}
.error p {
width: 75%;
margin: 0 auto;
}
.head.ng-scope {
    position: absolute;
    background: #3498DB;
    width: 100%;
    left: 0;
    padding: .5em;
}
.profile img {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #2980B9;
    width: 28%;
    position: relative;
    top: .15em;
}
.profile strong {
    display: inline-block;
    line-height: -4em;
    position: relative;
    top: -0.8em;
    font-weight: normal;
    color: #fff;
}
.links {
    float: right;
    color: #fff;
}
.profile {
    display: inline-block;
}
.head a{
    color: rgb(252, 252, 252);
  text-decoration: none;
}
.links a:hover {
text-decoration: underline;
}
.links a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  line-height: 3em;
  height: 100%;
  padding: 1em 1em;
  /* background: red; */
  letter-spacing: .05em;
}
.container .push {
  margin: 5em 0;
  width: 100%
}
textarea{
  height: 10em;
}
textarea,input {
  display: block;
  width: 95%;
  background: #ededed;
  color: #7B7979;
  padding: 10px 12px;
  border-radius: 3px;
  border: solid 3px;
  border-color: transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  position: relative;
}
textarea:focus,input:focus, select:focus {
  background: #fff;
  border-color: #3498DB;
}
.field {
    margin: 1em 0;
    width: 100%;
}
select {
  color: #7B7979;

  background-color: #EDEDED;
  width: 25%;
  padding: .7em .2em;
  border: solid 3px transparent;
  border-radius: 2px;
}
button.btn.btn-push {
  padding: .5em 0;
  /* display: inline-block; */
  width: 25%;
  background-color: #4677E2;
}
.lang a:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -3px;
  border-left: 1px solid #fff;
}
.lang a:first-child {
  /* background-color: red; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}
.lang {
  display: inline-block;
}
.lang a.active {
  background-color: #146D90;
}